@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: vaI(--border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
  body {
    @apply bg-neutral-100/50 dark:bg-neutral-900;
  }
}
:root {
  /* --ui-radius: 0.375rem; */
}

